.sidebar {
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #121212;
    padding: 25px 15px;
}

.sidebar img {
    width: 20px;
    filter: none !important;
    mix-blend-mode: normal;
}

.sidebar .menu {
    display: block;
    margin-left: 10px;
    cursor: pointer;
    color: #c4c7c5;
}

.sidebar .new-chat {
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #1e1e1e;
    border-radius: 50px;
    font-size: 14px;
    color: #b0b0b0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar .new-chat:hover {
    background-color: #2a2a2a;
}

.sidebar .recent {
    display: flex;
    flex-direction: column;
    animation: fadeIn 2s;
}

.sidebar .recent-title {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #c4c7c5;
}

.sidebar .recent-entry {
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar .recent-entry:hover {
    background-color: #2a2a2a;
}

.sidebar .bottom {
    display: flex;
    flex-direction: column;
}

.sidebar .bottom-item {
    padding-right: 10px;
    cursor: pointer;
    color: #c4c7c5;
}

@media (max-width:600px) {
    .sidebar {
        display: none;
    }
}